{% extends "layouts/base.njk" %}
{% block title %}About Us | {{ settings['cms-title'] }}{% endblock %}
{% block content %}
<section class="about-section">
    <h2>Flat CMS Emad</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas purus viverra accumsan in nisl nisi. Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque...</p>


<section class="about-section">
    <h2>Emad Asefi</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas purus viverra accumsan in nisl nisi. Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque.</p>
</section>
</section>
{% endblock %}
